@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

html{
    font-family: 'Pixelify Sans', sans-serif;
}

h1{
    font-size: 64px;
    color: #8b1289;
}

p, b{
    font-size: 24px;
    color: #12548b;
}

b{
    color:#8b1289;
}